server{
    listen 80;
    server_name {{ external_url }};
    access_log {{ access_log_path }};
    error_log {{ error_log_path }};

    location / {
        add_header Access-Control-Allow-Origin *;
        add_header Cache-Control max-age=31536000;
        rewrite ^ $request_uri;
        proxy_pass {{ api_url }};
    }
}