server {
        server_name {{ dev }}.{{ host_name }};
        listen 80;
        listen [::]:80;
        
        location / {
                try_files $uri $uri/ /index.html;
                root {{ www_dev_root_latest }};
        }

        access_log {{ logs_dev_root }}/access;
        error_log {{ logs_dev_root }}/error;
}